<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
	xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">

	<f:layout name="Content" />

	<f:section name="Configuration">
    <flux:form id="certificate">
      <flux:form.sheet name="Image" label="Image">
        <flux:field.inline.fal name="image" multiple="FALSE" maxItems="1" label="Image"/>
      </flux:form.sheet>

    </flux:form>
	</f:section>

	<f:section name="Main">
    {v:content.resources.fal(field: 'image') -> v:iterator.first() -> v:variable.set(name: 'img')}
        <f:if condition="{img.link}">
            <f:then>
                <f:link.page pageUid="{img.link}">
                    <div class="certificate">
                        <f:image treatIdAsReference="1" src="{img.id}" title="{img.title}" alt="{img.alternative}" width="460c" height="auto" />
                    </div>
                </f:link.page>
            </f:then>
            <f:else>
                <div class="hubpicture">
                    <f:image treatIdAsReference="1" src="{img.id}" title="{img.title}" alt="{img.alternative}" width="460c" height="auto" />
                </div>
            </f:else>
        </f:if>
	</f:section>
</div>
